body{
    background: url("../img/bg.jpg");

}
.aviso {
    margin-top: 15px;
    color: white;
}
buttom{
    text-align: start;
    border-radius: 48px;
}
.columns{
    margin-top: 50px;
}
.form-control{
    border: 0;
}

.botao-Copia{
    align-self: center;
}
.footer{
    background-color: black;
    color: white;
    font-size: 24px;
}