body{
    background: url("img/bg.jpg");
}
buttom{
    text-align: start;
    border-radius: 48px;
}
.columns{
    margin-top: 50px;
}
.form-control{
    border: 0;
}

.botao-Copia{
    align-self: center;
}
.footer{
    background-color: black;
    color: white;

}