.principal{

    background: blue;
    width: 60%;
}

@media screen and (max-width: 768px) {

.principal{
    padding: 3em 0;
    background: red;
    width: 80%;
    margin: 0 0 1am;
}
}
@media screen and (max-width: 355px){

}


footer {
    background: url("img/bg.jpg");
    text-align: center;
}
footer p{
    color: #ffffff;
    font-size: 13px;
    padding: 0 0 10px;
}